<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>My App</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="css/framework7.material.colors.min.css">
    <link rel="stylesheet" href="css/framework7.material.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
  </head>
  <body>
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
        <p>Left panel content goes here</p>
      </div>
    </div>
    
    <!-- Views-->
    <div class="views" ng-app="listaProdutos" ng-controller="listaProdutosCtrl">
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <!-- We have home navbar without left link-->
            <div class="center sliding">Awesome App</div>
            <div class="right">
              <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
            </div>
          </div>
        </div>
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
          <!-- Page, data-page contains page name-->
          <div data-page="index" class="page">
            <!-- Scrollable page content-->
            <div class="page-content">
                <div class="content-block-title">Form Example</div>
                <div class="list-block">
                        <div data-page="form" >
                            <ul>   
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner"> 
                                            <div class="item-title label"><i class="fa fa-barcode" aria-hidden="true"></i></div>
                                                <div class="item-input">
                                                    <input type="text" placeholder="Produto" name="nome" ng-model="nome"/>
                                                </div>
                                            </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
                                            <div class="item-input">
                                                <input type="text" placeholder="Início" readonly id="calendar-default" ng-model="dt_ini">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label"><i class="fa fa-calendar-times-o" aria-hidden="true"></i></div>
                                            <div class="item-input">
                                                <input type="text" placeholder="Término"  id="calendar-default2" ng-model="dt_fim">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    <a href="#" class="button color-green button-raised button-fill" ng-click="store(nome,dt_ini,dt_fim)">Salvar</a>
                </div>

             <div class="list-block" > 
            <ul data-role="listview" data-inset="true" data-theme="c" 
                data-dividertheme="c" id="lisprod" ng-repeat="item in itens" >
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="fa fa-check-square" aria-hidden="true"></i>
                        </div>
                        <div class="item-inner"> 
                            <div class="item-title">
                               {{item.nome}} : {{item.inicio}} - {{item.termino}}
                                <a  href="#" ng-click="delete(item.nome)"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                     </div>
                 </li>

            </ul>
                
              </div> 
                <a href="#" class="button color-blue button-raised button-fill" 
                   ng-click="delete()">Limpar Storage</a>
              </div>

            </div>
          </div>
        </div>
        <!-- Bottom Toolbar-->
        <div class="toolbar">
          <div class="toolbar-inner"><a href="#" class="link">Link 1</a><a href="#" class="link">Link 2</a></div>
        </div>
      </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="js/my-app.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/angular-1.6.4.min.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>

  </body>
</html>